@model Learnix.Infrastructure.Email.Models.CourseAdminActionModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Курс видалено";
}

<h1 class="email-heading">Привіт, @Model.InstructorFirstName!</h1>
<p class="email-text">
    Адміністратор платформи <strong>Learnix</strong> видалив ваш курс:
</p>
<div class="alert-danger">
    <p class="alert-danger-text">@Model.CourseTitle</p>
</div>
<p class="email-text">
    Якщо у вас є питання щодо цього рішення, зверніться до служби підтримки.
</p>
