@model Learnix.Infrastructure.Email.Models.CourseAdminActionModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Курс знято з публікації";
}

<h1 class="email-heading">Привіт, @Model.InstructorFirstName!</h1>
<p class="email-text">
    Адміністратор платформи <strong>Learnix</strong> зняв ваш курс з публікації:
</p>
<div class="alert-light">
    <p class="alert-light-text">@Model.CourseTitle</p>
</div>
<p class="email-text">
    Курс переведено до стану чернетки. Внесіть необхідні правки та повторно надішліть на публікацію.
</p>
