@model Learnix.Infrastructure.Email.Models.UserRoleChangedModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Зміна ролі";
}

<h1 class="email-heading">Привіт, @Model.FirstName!</h1>
@if (Model.Assigned)
{
    <p class="email-text">
        Вам було <strong>надано роль</strong> <strong>@Model.Role</strong> на платформі Learnix.
        Увійдіть в акаунт, щоб скористатися новими можливостями.
    </p>
}
else
{
    <p class="email-text">
        З вашого акаунта на платформі Learnix було <strong>знято роль</strong> <strong>@Model.Role</strong>.
    </p>
}
