@model Learnix.Infrastructure.Email.Models.UserBannedModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Обліковий запис заблоковано";
}

<h1 class="email-heading">Привіт, @Model.FirstName!</h1>
<p class="email-text">
    Ваш обліковий запис на платформі <strong>Learnix</strong> було <strong>заблоковано</strong> адміністратором.
</p>
<p class="email-text">
    Якщо ви вважаєте, що це сталося помилково, зверніться до служби підтримки.
</p>
